<footer>
	<div class="px-5 py-5 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 justify-items-center">
		<div>
			<h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
				<nav class="list-none mb-10">
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">First Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Second Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Third Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Fourth Link</a>
					</li>
				</nav>
		</div>
		<div>
			<h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
				<nav class="list-none mb-10">
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">First Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Second Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Third Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Fourth Link</a>
					</li>
				</nav>
		</div>
		<div>
			<h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
				<nav class="list-none mb-10">
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">First Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Second Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Third Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Fourth Link</a>
					</li>
				</nav>
		</div>
		<div>
			<h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-3">CATEGORIES</h2>
				<nav class="list-none mb-10">
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">First Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Second Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Third Link</a>
					</li>
					<li>
						<a href="#" class="text-gray-600 hover:text-gray-800">Fourth Link</a>
					</li>
				</nav>
		</div>
	</div>
	<div class="px-5 py-5 flex items-center sm:flex-row flex-col">
		<a href="#" class="flex title-font font-medium items-center md:justify-start justify-center text-gray-900">
      <img src="../../../assets/images/tailwind_logo.svg" class="w-12">
      <span class="block ml-3 text-xl">Tailwind</span>
    </a>
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4">
			© 2024 Tailwind
    </p>
    <span class="inline-flex gap-3 sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a href="#" class="text-gray-500 hover:text-[#4267B2]">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      <a href="#" class="text-gray-500 hover:text-[#1DA1F2]">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a href="#" class="text-gray-500 hover:text-[#E1306C]">
        <i class="fa-brands fa-instagram"></i>
      </a>
      <a href="#" class="text-gray-500 hover:text-[#0A66C2]">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </span>
	</div>
</footer>